.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.feature {
  border: 1px solid #0b02bd;
  color: red;
  padding: 15px;
  border-radius: 40px;
  font-family: sans-serif;
  
}

.feature h3 {
  color: #11b80b;
  background-color: white;
}

.feature p {
  color: #b8250b;
  background-color: black;
}

.feature h3{
  font-size: 1.5rem;
}

body {
  background-color: rgb(50, 100, 120);
}
